{% extends 'movie_not_log_in_base.html' %}

{% block page_title %}
    Rejestracja
{% endblock %}

{% block page_content %}
    <form class="uk-form-stacked" method="POST">
        {% csrf_token %}
        {% for field in register_form %}
            <div class="uk-margin">
                <label>{{ field.label_tag }}</label>
                <div class="uk-form-controls">
                    {{ field }}
                </div>
                <div class="uk-text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}

        <button class="uk-button uk-button-default">
            Zarejestruj
        </button>
    </form>
{% endblock %}