{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>
<body>

<div uk-height-viewport="offset-bottom: 0" class="uk-flex">
    <div class="uk-width-small side-bar uk-flex uk-flex-column uk-padding-small gap-small">
        {% include 'menu_button.html' with url_name='all_movies_url' icon='home' name='Home' %}
        {% include 'menu_button.html' with url_name='all_movies_url' icon='video-camera' name='Filmy' %}
        {% include 'menu_button.html' with url_name='all_collections_url' icon='list' name='Kolekcje' %}
    </div>
    <div class="uk-width-expand">
        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <span uk-icon="users"></span>
                        {% if user.is_authenticated %}
                            <ul class="uk-navbar-nav">
                                <li class="uk-navbar-item">
                                    {{ user.get_username|upper }}
                                </li>
                                {% if user.is_superuser %}
                                    <a href="{% url 'add_movie_url' %}">
                                        Dodaj film
                                    </a>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            {% if user.is_authenticated %}
                                <li class="uk-navbar-item">
                                    <form method="POST" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button class="uk-button uk-button-default">
                                            Wyloguj
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="uk-container">
            {% block page_content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>